.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.input {
  padding: 20px;
  width: 450px;
  font-size: 20px;
  margin: auto;
  border: 6px double green;
  border-radius: 4px;
  box-shadow: 5px 10px 15px green inset;
}

.input:focus {
  cursor: pointer;
  font-size: 26px;
}

.button {
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 30px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
